<div class="container-fluid">
  <div class="container">
    <div *ngIf="activeJourney" class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-decoration: underline; padding-bottom: 20px;">{{activeJourney.name}}</h3>
        <div class="journey-prop">
          <h4 class="prop-header">City:</h4>
          <h5 class="title">{{activeJourney.city}}</h5>
        </div>
        <div class="journey-prop">
          <h4 class="prop-header">Date:</h4>
          <h5 class="title" style="font-size: 15px;">{{activeJourney.departure_date | date:'longDate'}} -
            {{activeJourney.return_date | date:'longDate'}}</h5>
        </div>
        <div class="journey-prop">
          <h4 class="prop-header">Description <a *ngIf="!edit" (click)="toggleEdit()"
              style="color:lightblue; font-size:18px; cursor: pointer;">(edit) </a>:</h4>
          <h5 *ngIf="!edit" class="title">{{activeJourney.description}}</h5>
          <form (submit)="update()">
            <textarea *ngIf="edit" [(ngModel)]="journey_description" name="journey_description" class="form-control"
              placeholder="{{activeJourney.description}}"></textarea>
            <input *ngIf="edit" type="submit" class="btn btn-primary btn-crud" value="Submit">
          </form>
        </div>
        <div class="journey-prop">
          <h5 *ngIf="!delete" class="delete-header" (click)="toggleDelete()" >(delete this journey)</h5>
          <h5 *ngIf="delete" class="delete-header">Fill in the name of your journey to confirm</h5>
          <form (submit)="deleteJourney()">
            <textarea *ngIf="delete" [(ngModel)]="confirm_string" name="confirm_string" class="form-control"></textarea>
            <input *ngIf="delete" type="submit" class="btn btn-danger btn-crud" value="Delete">
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="locations" class="locations-list">
      <div class="card-container" *ngFor="let f of locations; let i = index">
        <div class="custom-card">
          <div class="flex-title">
            <h5 class="title">{{f.name}}</h5>
          </div>
        </div>
        <div class="card-btns">
          <button class="btn btn-view" (click)="openVenue(content,f)">VIEW</button>
          <button class="btn btn-danger" (click)="deleteLocation(i,f._id)">DELETE</button>
        </div>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{activeLocation.name}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="activeLocation" class="modal-body">
          <div class="card-modal">
            <img class="card-img" src="{{activeLocation.imagePath}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{activeLocation.address}}</h5>
              <h6 class="card-title">{{activeLocation.category}}</h6>
              <p class="card-text">{{activeLocation.description}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
        </div>
      </ng-template>

    </div>
  </div>
</div>