.container-fluid{
    height: 100vh;
    width: 90vw;
}

.container{
    height: 75%;
    width: 75%;
    margin-top: 5rem;
    background-color: #25838C;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card{
    background: transparent;
    border: 0px;
    border-right: 1px solid #A0F0A8;
    width: 25%;
    padding: 20px;
}

.journey-prop{
    padding-bottom: 20px;
}

.card-title,.prop-header{
    color: #A0F0A8;
}

.title{
    color: white;
}

.locations-list{
    width: 75%;
    padding: 20px;
}

.card-container{
    display:flex;
    flex-direction: row;
    background-color: #A0F0A8;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}


.custom-card{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    margin-left:10px;
}

.btn:hover{
    opacity: 0.7;
}

.btn-view{
    background-color: #25838C;
    color: white;
}

.delete-header{
    color: red;
    cursor: pointer;
    font-size: 15px;
}

.btn-crud{
    font-size: 14px;
    padding: 10px;
    height: max-content;
    margin: 0px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 1450px){
    .container-fluid{
        width: 100vw;
        height: max-content;
        margin-bottom: 20px;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        height: max-content;
        width: 100%;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #A0F0A8;
    }

    .card-body{
        width: 100%;
    }

    .locations-list{
        width: 100%;
        padding: 0px;
    }

    .card-container{
        margin-left: 0px;
        margin-right: 0px;
    }

    .flex-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title{
        font-size: 14px;
    }

    .card-btns{
        display: flex;
        flex-direction: row;
        height: max-content;
    }


}