.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

@media screen and (max-width: 600px){
    .container-fluid{
        min-height: 100vh;
        height: max-content;
    }

    .container{
        height: max-content;
        margin-top: 25px;
    }

    #img-section{
        display: none;
    }

    form{
        padding: 15px;
    }

    #last{
        margin-bottom: 0px;
    }
 }

.container{
    display: flex;
    align-content: flex-start;
    height: 80%;
    padding: 0;
    border-radius: 20px;
    background-color: rgb(34, 59, 91);

}

.grid-section{
    width: 100%;
    height: 100%;

}

.grid-section > img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.grid-section > form{
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header{
    padding: 50px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.form-control{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.grid-section > form > .btn{
   align-self: center;
   width: 40%;
   padding: 15px;
   border-radius: 20px;  
   background-color: #68BE9A;
   font-size: 20px;
   letter-spacing: 1px;
}

.grid-section > form > .btn:hover{
    background-color: #A0F0A8;
    color: rgba(0, 0, 0, 0.4);
 }