.container{
    height: 80vh;
    width: 75vw;
    background-color: rgba(34, 59, 91, 1);
    padding: 0;
    margin: auto;
    margin-top: 75px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-confirm{
  background-color: #68BE9A;
  color: white;
  align-self: flex-start;
  letter-spacing: 1px;
  margin-left: 100px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 20px;
}

.page-header{
    padding: 25px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    border-bottom: #f1f1f1 1px solid;
}

form{
    max-height: 100%;
    width: 40%;
    margin: auto;
  }

  @media screen and (max-width: 900px){
    .container{
      height: max-content;
      margin-bottom: 50px;
    }

    form{
      width: 80%;
      height: max-content;
      padding: 20px;
    }

    .card-container{
display: block;
    }
  }


  .form-control{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group > label{
  color: white;
  letter-spacing: 1px;
}

::-webkit-inner-spin-button { 
  display:none;
}

.btn.btn-success{
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto;
    background-color: #68BE9A;
    border-radius: 20px;
  }
  
  .btn.btn-success:hover{
    background-color: #A0F0A8;
    border-radius: 20px;
  }

  .locations-list{
    max-height: 80%;
    align-self: center;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 50px;
    margin-bottom: 20px;
  }

  /* width */
::-webkit-scrollbar {
  
  width: 10px;
}

::-webkit-scr

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {

  background: #68BE9A;
  opacity: 0.3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A0F0A8; 
  
}

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .custom-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    background-color: rgb(36, 131, 140);
    color: white;
    border-radius: 20px;
    width: 65%;
    padding: 20px;
    height: max-content;
  }
  
  .flex-title{
    width: 60%;
  }

  .btn.btn-view{
    background-color:  rgb(36, 131, 140);
    color: white;
    height: max-content;
  }

  .btn.btn-add{
    background-color: rgb(160, 239, 168);
    color: white;
    height: max-content;
  }

  .card-img{
    margin: auto;
    max-width: 100%;
    max-height: 350px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

