<div class="container-fluid">
  <nav class="navbar">
    <a (click)="openNav()" class="hamburger-menu" *ngIf="authService.loggedIn()">
      <div class="ham"></div>
      <div class="ham"></div>
      <div class="ham"></div>
    </a>
    <a class="navbar-brand mr-auto mb-0 h1" routerLink="/">Traveler</a>
    <span class="date ml-auto">{{dateNow | date:'fullDate'}}</span>
  </nav>
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <section *ngIf="user" class="section-user">
        <span id="user"><fa name="far fa-user" size="3x"></fa><h5>{{user.name}}</h5><hr style="border-color: #25838C"><h5>{{user.email}}</h5></span>       
    </section>
    <section class="section-options">
      <ul class="list-group">
        <li class="list-group-item"><a href="" routerLink="/journey" (click)="closeNav()" >Start a new journey</a></li>
      </ul>
      <ul class="list-group">
          <li class="list-group-item"><a href="" (click)="onLogOutClick()">Logout</a></li>
        </ul>
    </section>
    </div>
    <div id="toggle_fade"></div>
  <router-outlet></router-outlet>
</div>