.container-fluid{
    background: linear-gradient(#68BE9A, #A0F0A8);
    min-height: 100vh;
    height: max-content;
    padding: 0px;
}

.navbar {
    background-color: rgb(34, 59, 91);
    padding: 0px;
}

.hamburger-menu{
    padding: 10px;
    cursor: pointer;
}

.date {
    color: white;
    padding: 20px;
    margin-right: 10px;  
    font-size: 20px;
    letter-spacing: 2px;
}

.ham {
    width: 35px;
    height: 2px;
    background-color: white !important;
    margin: 6px 0;
  }

  .navbar-brand{
      color: white !important;
      padding: 20px;
      font-size: 25px;
      letter-spacing: 2px;
      
  }

  .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.4s;
    text-align:center;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-right: 20px;
    color: rgba(34, 59, 91, 1);
  }

  .sidenav .closebtn:hover {
    text-decoration: none;
  }

  .section-user{
      height: 35%;
      width: 100%;
      background: linear-gradient(#68BE9A, #A0F0A8);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: row;
  }



  .section-user > #user {
     margin: auto;
     color: rgba(34, 59, 91, 1);
  }


  .list-group-item, .list-group-item>a{
        color: #25838C ;
        padding: 20px;
        font-size: 20px;
        letter-spacing: 2px;    
  }

  .list-group-item{
      border: 0px;
      padding: 0;
  }

  .list-group-item>a{
      float: left;
  }

  .list-group-item:hover{
      background-color: rgba(34, 59, 91, 0.5);
  }

  #toggle_fade {
    background-color: rgba(0, 0, 0, .4);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

@media screen and (max-width: 1200px){
    
    .ham{
        cursor: pointer;
    }
   

    .navbar-brand{
        font-size: 20px;
        padding: 10px;
    }

    .date{
        width: max-content;
        margin-right: 0px;
        padding: 5px !important;
        padding-top: 10px !important;
        padding-right: 10px !important;
        font-size: 10px;
        padding: 10px;
        margin-left: 0 !important;
    }
}