<div class="container-fluid">
<div class="container jumbotron">
    <section class="grid-section ">
    <form (submit)="onLoginSubmit()">
        <h2 class="page-header">Login</h2>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>
      <input type="submit" class="btn btn-success" value="Login">
    </form>
    <p style="color:white;">Don't have an account yet?<span style="padding-left:10px; padding-right:10px;"><a href="" routerLink="/user/register">SIGN UP NOW!</a></span></p>
   </section>
   <section class="grid-section">
      <img src="https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
   </section>
  </div>
</div>